<div class="flex flex-col items-start justify-start p-4">
  <div>
    @if (userState().loading) {
      <p class="text-sm text-gray-400">Loading...</p>
    } @else if (user()) {
      <p class="font-semibold">{{ user()?.name }}</p>
      <p class="text-sm text-gray-500 mb-2">{{ user()?.email }} · {{ user()?.phone }}</p>
    } @else {
      <p class="text-sm text-gray-400">Data user tidak ditemukan.</p>
    }
  </div>
  <button
    (click)="onLogout()"
    [disabled]="loggingOut()"
    class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 transition-colors disabled:opacity-50 cursor-pointer"
  >
    {{ loggingOut() ? 'Loading...' : 'Logout' }}
  </button>
</div>

<p>home works!</p>
<!-- <app-widget_game></app-widget_game> -->
